@font-face {
	font-family: 'FiraGO';
	src: url('../fonts/FiraGO-ExtraBoldItalic.eot');
	src: url('../fonts/FiraGO-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/FiraGO-ExtraBoldItalic.woff2') format('woff2'),
		 url('../fonts/FiraGO-ExtraBoldItalic.woff') format('woff'),
		 url('../fonts/FiraGO-ExtraBoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
	background-color: #cadb2a;
	font-family: 'FiraGO', sans-serif;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

h1 {
	font-size: 6rem;
	font-feature-settings: "case" on;
	text-align: center;
}

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 4rem;
	}
}
